<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
<!--     <add name="CodeJewelsDb" connectionString="Data Source=.;Initial Catalog=CodeJewelsDb;Integrated Security=True" providerName="System.Data.SqlClient" />
     -->    <add name="CodeJewelsDb" connectionString="Server=166b276d-b926-454c-a822-a21e014cdd7c.sqlserver.sequelizer.com;Database=db166b276db926454ca822a21e014cdd7c;User ID=cvucttmydcplwbtp;Password=Bpk8Qm3zVCJUBnCCCdvqwPjBdMgPPBE8esdDCAa36wrqkSC3Ki7YPEoVeQ5cfmTt"; providerName="System.Data.SqlClient" /> 
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>